body {
	background-color : #eee;
}

#main-label {
    padding-top: 100px;
    font-size: 24pt;
    font-family: monospace;
}

.filler {
    background: #ddd;
    opacity: 0.5;
    text-decoration: underline;
}

.main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

button {
    font-family: monospace;
    height: 38px;
    padding: 0 30px;
    color: #555;
    font-size: 18px;
    font-weight: 600;
    line-height: 38px;
    text-transform: uppercase;
    /*letter-spacing: .1rem;*/
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid #bbb;
    cursor: pointer;
}